<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>codeGroupView</title>
</head>

<body>
	<p th:text="${item.name}"></p>
	<p th:text="${item.memo}"></p>



	<form method="post" action="/codeGroupDelete">
		<input type="text" th:value="${item.delNy}" />
		<input type="text" name="seq" th:value="${item.seq}">
		<button type="submit">삭제</button>
	</form>

	<form method="post" action="/codeGroupUelete">
		<input type="text" name="delNy" th:value="${item.delNy}" />
		<input type="text" name="seq" th:value="${item.seq}">
		<button type="submit">수정</button>
	</form>





</body>

</html>