<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/infra/include/head :: head}"></div>

<body>

	<!-- Loading wrapper start -->
	<!-- <div id="loading-wrapper">
			<div class="spinner">
                <div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
				<div class="line4"></div>
				<div class="line5"></div>
				<div class="line6"></div>
            </div>
		</div> -->
	<!-- Loading wrapper end -->

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!--사이드바 블록처리-->
		<div th:replace="~{xdm/infra/include/sidebar :: sidebar}"></div>

		<!-- *************
				************ Main container start *************
			************* -->
		<div class="main-container">

			<!--파일헤더 블록처리-->
			<div th:replace="~{xdm/infra/include/fileheader :: fileheader}"></div>

			<!-- Content wrapper scroll start -->
			<div class="content-wrapper-scroll">

				<!-- Content wrapper start -->
				<div class="content-wrapper">
					<!-- Card start -->
					<div class="card">
						<div class="card-body">

							<!-- 컨테이너 시작 -->
							<form method="post" action="ProductInsert">
								<div class="container-fluid">
									<div class="row">
										<div class="col mb-3">
											<div class="card-title">제품 관리</div>
										</div>

									</div>
									<div class="row mt-4">
										<div class="col-6">
											<label for="productName" class="form-label">제품이름</label>
											<input type="text" id="productName" name="productName" class="form-control">
											<div class="invalid-feedback">
										  			제품이름을 입력하세요
										  	</div>
										</div>
										<div class="col-6">
											<label for="productPrice" class="form-label">제품정가</label>
											<input type="text" id="productPrice" name="productPrice" class="form-control">
											<div class="invalid-feedback">
										  			제품정가를 입력하세요
										  	</div>
										</div>
									</div>
									<div class="row mt-4">
										<div class="col-6">
											<label for="productSalePrice" class="form-label">제품할인가</label>
											<input type="text" id="productSalePrice" name="productSalePrice" class="form-control">
											<div class="invalid-feedback">
										  			제품할인가를 입력하세요
										  	</div>
										</div>
										<div class="col-6">
											<label for="productHotCd" class="form-label">제품Hot</label>
											<input type="text" id="productHotCd" name="productHotCd" class="form-control">
											<div class="invalid-feedback">
										  			제품Hot을 입력하세요
										  	</div>
										</div>
									</div>
									<div class="row mt-4">
										<div class="col-6">
											<label for="productGenderCd" class="form-label">제품성별</label>
											<input type="text" id="productGenderCd" name="productGenderCd" class="form-control">
											<div class="invalid-feedback">
										  			제품성별을 입력하세요
										  	</div>
										</div>
										<div class="col-6">
											<label for="productSeasonCd" class="form-label">제품계절</label>
											<input type="text" id="productSeasonCd" name="productSeasonCd" class="form-control">
											<div class="invalid-feedback">
										  			제품계절을 입력하세요
										  	</div>
										</div>
									</div>
									<div class="row mt-4">
										<div class="col-6">
											<label for="productColorCd" class="form-label">제품색상</label>
											<input type="text" id="productColorCd" name="productColorCd" class="form-control">
											<div class="invalid-feedback">
										  			제품색상을 입력하세요
										  	</div>
										</div>
										<div class="col-6">
											<label for="productSizeCd" class="form-label">제품사이즈</label>
											<input type="text" id="productSizeCd" name="productSizeCd" class="form-control">
											<div class="invalid-feedback">
										  			제품사이즈를 입력하세요
										  	</div>
										</div>
									</div>
									
									<div class="d-flex justify-content-between mt-4">
										<div class="">
											<button type="submit" class="btn btn-info" onclick="javascript: form.action='ProductXdmList';">back</button>       <!--질문 위에 인서트가 있는데 온클릭을 했을때 되는 이-->
										</div>
										<div class="">
											<button type="submit" id="btnSubmit" class="btn btn-info">save</button>
										</div>
									</div>
								</div>
							</form>
								</div>
							<!-- 컨테이너 끝 -->
							<script>
								
	//자바스크립트 버튼
	document.getElementById("btnSubmit").onclick = function() {
	
	if(validationInst() == false)return false;
	}
	
	function validationInst() {
		if(validationUpdt() == false) {
			return false;
			} else {
				form.action = goUrlXdmList;
				form.submit();
			}
	}
	
	//function validationUpdt() {
	//	alert("name: " + document.getElementById("name").value)
	//}					
	
	function validationUpdt(){
		if(!nullToEmpty(document.getElementById("productName").value)) {
			
			document.getElementById("productName").setAttribute("class", "form-control is-invalid");
			return false;
			
		}
		if(!nullToEmpty(document.getElementById("productPrice").value)) {
			
			document.getElementById("productPrice").setAttribute("class", "form-control is-invalid");
			return false;
			
		}
		if(!nullToEmpty(document.getElementById("productSalePrice").value)) {
			
			document.getElementById("productSalePrice").setAttribute("class", "form-control is-invalid");
			return false;
			
		}
		if(!nullToEmpty(document.getElementById("productHotCd").value)) {
			
			document.getElementById("productHotCd").setAttribute("class", "form-control is-invalid");
			return false;
			
		}
		if(!nullToEmpty(document.getElementById("productGenderCd").value)) {
			
			document.getElementById("productGenderCd").setAttribute("class", "form-control is-invalid");
			return false;
			
		}
		if(!nullToEmpty(document.getElementById("productSeasonCd").value)) {
			
			document.getElementById("productSeasonCd").setAttribute("class", "form-control is-invalid");
			return false;
			
		}
		if(!nullToEmpty(document.getElementById("productColorCd").value)) {
			
			document.getElementById("productColorCd").setAttribute("class", "form-control is-invalid");
			return false;
			
		}
		if(!nullToEmpty(document.getElementById("productSizeCd").value)) {
			
			document.getElementById("productSizeCd").setAttribute("class", "form-control is-invalid");
			return false;
			
		}
	}
	nullToEmpty = function(value){
		if(value == null || value == 'null' || value.length == 0){
			return false;
		} else{
			return true;
		}
	}
							</script>
						</div>
					</div>
					<!-- Card end -->

				</div>
				<!-- Content wrapper end -->

				<!-- App Footer start -->
				<div class="app-footer">
					<span>© Bootstrap Gallery 2023</span>
				</div>
				<!-- App footer end -->

			</div>
			<!-- Content wrapper scroll end -->

		</div>
		<!-- *************
				************ Main container end *************
			************* -->

	</div>
	<!-- Page wrapper end -->

</body>

</html>