<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Outstock - Clean, Minimal eCommerce HTML5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="/usr/assets/img/favicon.png">
        
		<!-- CSS here -->
        <link rel="stylesheet" href="/usr/assets/css/preloader.css">
        <link rel="stylesheet" href="/usr/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/usr/assets/css/slick.css">
        <link rel="stylesheet" href="/usr/assets/css/metisMenu.css">
        <link rel="stylesheet" href="/usr/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/usr/assets/css/animate.min.css">
        <link rel="stylesheet" href="/usr/assets/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="/usr/assets/css/fontAwesome5Pro.css">
        <link rel="stylesheet" href="/usr/assets/css/ionicons.min.css">
        <link rel="stylesheet" href="/usr/assets/css/default.css">
        <link rel="stylesheet" href="/usr/assets/css/style.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->  

        <!-- prealoder area start -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                <div class="object" id="first_object"></div>
                <div class="object" id="second_object"></div>
                <div class="object" id="third_object"></div>
                </div>
            </div>      
        </div>
        <!-- prealoder area end -->

 
        <!-- scroll up area start -->
        <div class="scroll-up" id="scroll" style="display: none;">
            <a href="javascript:void(0);"><i class="fas fa-level-up-alt"></i></a>
        </div>
        <!-- scroll up area end -->
      
    <main>
        
        <!-- page title area start -->
        <section class="p-relative d-flex align-items-center pt-80 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page__title-inner text-center">
                            <h1>Login</h1>
                            <div class="page__title-breadcrumb">                                 
                                <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"> Login</li>
                                </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- page title area end -->

        <!-- login Area Strat-->
        <section class="login-area pt-50 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="basic-login">
                            <h3 class="text-center mb-60">로그인</h3>
                            <form method="post" action="signinXdmProc">
                                <label for="memberId">아이디 <span>**</span></label>
                                <input id="memberId" name="memberId" type="text" placeholder="아이디" />
                                <label for="memberPwd">비밀번호 <span>**</span></label>
                                <input id="memberPwd" name="memberPwd" type="password" placeholder="비밀번호" />
                                <div class="login-action mb-20 fix">
                                    <span class="log-rem f-left">
                                        <input id="remember" type="checkbox" />
                                        <label for="remember">아이디 저장</label>
                                    </span>
                                    <span class="forgot-login f-right">
                                        <a href="#">비밀번호 찾기</a>
                                    </span>
                                </div>
                                <button id="buttonSignIn" class="os-btn w-100">로그인</button>
                                <div class="or-divide"><span>or</span></div>
                                <a href="register.html" class="os-btn os-btn-black w-100">회원가입</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- login Area End-->
    </main>

        <!-- footer area start -->
        <section class="footer__area footer-bg">
            
            <div class="footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <div class="footer__copyright">
                                <p>Copyright © <a href="index.html">Outstock</a> all rights reserved. Powered by <a href="index.html">Theme_pure</a></p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5">
                            <div class="footer__social f-right">
                                <ul>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer area end -->


<script>
	document.getElementById("buttonSignIn").onclick = function () {
		
		if(validation() == false) return false;
	
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			/* ,dataType:"json" */
			,url: "/signinXdmProc"
			/* ,data : $("#formLogin").serialize() */
			,data : { "memberId" : $("#memberId").val(), "memberPwd" : $("#memberPwd").val()}
			,success: function(response) {
				if(response.rt == "success") {
					
					location.href = "/usr/infra/index";
					/*if(response.changePwd == "true") {
						location.href = "/v1/infra/member/expiredPwdUsrForm";
					} else {
						location.href = "/v1/infra/index/indexXdmView";
					}*/
				}else {
			 		/*document.getElementById("modalAlertTitle").innerText = "확 인";
			 		document.getElementById("modalAlertBody").innerText = "일치하는 회원이 존재 하지 않습니다!";
			 		$("#modalAlert").modal("show");*/
			 		alert("222222222");
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
</script>
		<!-- JS here -->
        <script src="/usr/assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/usr/assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/usr/assets/js/vendor/waypoints.min.js"></script>
        <script src="/usr/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/usr/assets/js/metisMenu.min.js"></script>
        <script src="/usr/assets/js/slick.min.js"></script>
        <script src="/usr/assets/js/jquery.fancybox.min.js"></script>
        <script src="/usr/assets/js/isotope.pkgd.min.js"></script>
        <script src="/usr/assets/js/owl.carousel.min.js"></script>
        <script src="/usr/assets/js/jquery-ui-slider-range.js"></script>
        <script src="/usr/assets/js/ajax-form.js"></script>
        <script src="/usr/assets/js/wow.min.js"></script>
        <script src="/usr/assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="/usr/assets/js/main.js"></script>
</body>

</html>