<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Outstock - Clean, Minimal eCommerce HTML5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
        
		<!-- CSS here -->
        <link rel="stylesheet" href="assets/css/preloader.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/metisMenu.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="assets/css/fontAwesome5Pro.css">
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/default.css">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->  

        <!-- prealoder area start -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                <div class="object" id="first_object"></div>
                <div class="object" id="second_object"></div>
                <div class="object" id="third_object"></div>
                </div>
            </div>      
        </div>
        <!-- prealoder area end -->

        <!-- header area start -->
        <header>
            <div id="header-sticky" class="header__area header__transparent grey-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="header__right p-relative d-flex justify-content-between align-items-center">
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul>
                                            <li class="active"><a href="shop.html">베스트</a></li>
                                            <li class="active"><a href="shop.html">세일</a></li>
                                            <li class="active has-dropdown"><a href="index.html">상의</a>
                                                <ul class="submenu transition-3">
                                                    <li><a href="index.html">맨투맨</a></li>
                                                    <li><a href="index-2.html">니트</a></li>
                                                    <li><a href="index-3.html">셔츠</a></li>
                                                    <li><a href="index-4.html">후드티</a></li>
                                                    <li><a href="index-5.html">반팔</a></li>
                                                    <li><a href="index-6.html">긴팔</a></li>
                                                </ul>
                                            </li>
                                            <li class="active has-dropdown"><a href="shop.html">하의</a>
                                                <ul class="submenu transition-3">
                                                    <li><a href="index.html">청바지</a></li>
                                                    <li><a href="index-2.html">슬랙스</a></li>
                                                    <li><a href="index-2.html">면바지</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li class="has-dropdown"><a href="blog.html">아우터</a>
                                                <ul class="submenu transition-3">
                                                    <li><a href="blog.html">코트</a></li>
                                                    <li><a href="blog-left-sidebar.html">패딩</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">SNS</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="mobile-menu-btn d-lg-none">
                                    <a href="javascript:void(0);" class="mobile-menu-toggle"><i class="fas fa-bars"></i></a>
                                </div>
                                <div class="header__action">
                                    <ul>
                                        <li><a href="#" class="search-toggle"><i class="ion-ios-search-strong"></i> Search</a></li>
                                        <li><a href="javascript:void(0);" class="cart"><i class="ion-bag"></i> Cart <span>(01)</span></a>
                                            <div class="mini-cart">
                                                <div class="mini-cart-inner">
                                                    <ul class="mini-cart-list">
                                                        <li>
                                                            <div class="cart-img f-left">
                                                                <a href="product-details.html">
                                                                    <img src="assets/img/shop/product/cart-sm/16.jpg" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="cart-content f-left text-left">
                                                                <h5>
                                                                    <a href="product-details.html">Consectetur adi </a>
                                                                </h5>
                                                                <div class="cart-price">
                                                                    <span class="ammount">1 <i class="fal fa-times"></i></span>
                                                                    <span class="price">$ 400</span>
                                                                </div>
                                                            </div>
                                                            <div class="del-icon f-right mt-30">
                                                                <a href="#">
                                                                    <i class="fal fa-times"></i>
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="cart-img f-left">
                                                                <a href="product-details.html">
                                                                    <img src="assets/img/shop/product/cart-sm/17.jpg" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="cart-content f-left text-left">
                                                                <h5>
                                                                    <a href="product-details.html">드롭 숄더 맨투맨 (2 colors)</a>
                                                                </h5>
                                                                <div class="cart-price">
                                                                    <span class="ammount">1 <i class="fal fa-times"></i></span>
                                                                    <span class="price">$ 400</span>
                                                                </div>
                                                            </div>
                                                            <div class="del-icon f-right mt-30">
                                                                <a href="#">
                                                                    <i class="fal fa-times"></i>
                                                                </a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="cart-img f-left">
                                                                <a href="product-details.html">
                                                                    <img src="assets/img/shop/product/cart-sm/18.jpg" alt="" />
                                                                </a>
                                                            </div>
                                                            <div class="cart-content f-left text-left">
                                                                <h5>
                                                                    <a href="product-details.html">Black White Towel </a>
                                                                </h5>
                                                                <div class="cart-price">
                                                                    <span class="ammount">1 <i class="fal fa-times"></i></span>
                                                                    <span class="price">$ 400</span>
                                                                </div>
                                                            </div>
                                                            <div class="del-icon f-right mt-30">
                                                                <a href="#">
                                                                    <i class="fal fa-times"></i>
                                                                </a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="total-price d-flex justify-content-between mb-30">
                                                        <span>Subtotal:</span>
                                                        <span>$400.0</span>
                                                    </div>
                                                    <div class="checkout-link">
                                                        <a href="cart.html" class="os-btn">view Cart</a>
                                                        <a class="os-btn os-btn-black" href="checkout.html">Checkout</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="active"><a href="shop.html">My Page</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header area end -->

        <!-- scroll up area start -->
        <div class="scroll-up" id="scroll" style="display: none;">
            <a href="javascript:void(0);"><i class="fas fa-level-up-alt"></i></a>
        </div>
        <!-- scroll up area end -->

        <!-- search area start -->
        <section class="header__search white-bg transition-3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="header__search-inner text-center">
                            <form action="#">
                                <div class="header__search-btn">
                                    <a href="javascript:void(0);" class="header__search-btn-close"><i class="fal fa-times"></i></a>
                                </div>
                                <div class="header__search-header">
                                    <h3>Search</h3>
                                </div>
                                <div class="header__search-categories">
                                    <ul class="search-category">
                                        <li><a href="shop.html">All Categories</a></li>
                                        <li><a href="shop.html">Accessories</a></li>
                                        <li><a href="shop.html">Chair</a></li>
                                        <li><a href="shop.html">Tablet</a></li>
                                        <li><a href="shop.html">Men</a></li>
                                        <li><a href="shop.html">Women</a></li>
                                        
                                    </ul>
                                </div>
                                <div class="header__search-input p-relative">
                                    <input type="text" placeholder="Search for products... ">
                                    <button type="submit"><i class="far fa-search"></i></button>
                                </div>
                            </form>
                
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="body-overlay transition-3"></div>
        <!-- search area end -->


        <main>

           

            <!-- shop details area start -->
            <section class="shop__area pb-65">
                <div class="shop__top grey-bg-6 pt-100 pb-90">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="product__modal-box d-flex">
                                    <div class="product__modal-nav mr-20">
                                        <nav>
                                            <div class="nav nav-tabs" id="product-details" role="tablist">
                                                <a class="nav-item nav-link active" id="pro-one-tab" data-toggle="tab" href="#pro-one" role="tab" aria-controls="pro-one" aria-selected="true">
                                                <div class="product__nav-img w-img">
                                                    <img src="assets/img/shop/product/details/details-sm-1.jpg" alt="">
                                                </div>
                                                </a>
                                                <a class="nav-item nav-link" id="pro-two-tab" data-toggle="tab" href="#pro-two" role="tab" aria-controls="pro-two" aria-selected="false">
                                                <div class="product__nav-img w-img">
                                                    <img src="assets/img/shop/product/quick-view/quick-sm-2.jpg" alt="">
                                                </div>
                                                </a>
                                                <a class="nav-item nav-link" id="pro-three-tab" data-toggle="tab" href="#pro-three" role="tab" aria-controls="pro-three" aria-selected="false">
                                                <div class="product__nav-img w-img">
                                                    <img src="assets/img/shop/product/quick-view/quick-sm-3.jpg" alt="">
                                                </div>
                                                </a>
                                            </div>
                                        </nav>
                                    </div>
                                    <div class="tab-content mb-20" id="product-detailsContent">
                                        <div class="tab-pane fade show active" id="pro-one" role="tabpanel" aria-labelledby="pro-one-tab">
                                            <div class="product__modal-img product__thumb w-img">
                                                <img src="assets/img/shop/product/details/details-big-1.jpg" alt="">
                                                <div class="product__sale ">
                                                    <span class="new">new</span>
                                                    <span class="percent">-16%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pro-two" role="tabpanel" aria-labelledby="pro-two-tab">
                                            <div class="product__modal-img product__thumb w-img">
                                                <img src="assets/img/shop/product/details/details-big-2.jpg" alt="">
                                                <div class="product__sale ">
                                                    <span class="new">new</span>
                                                    <span class="percent">-16%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pro-three" role="tabpanel" aria-labelledby="pro-three-tab">
                                            <div class="product__modal-img product__thumb w-img">
                                                <img src="assets/img/shop/product/details/details-big-3.jpg" alt="">
                                                <div class="product__sale ">
                                                    <span class="new">new</span>
                                                    <span class="percent">-16%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="product__modal-content product__modal-content-2">
                                    <h4><a href="product-details.html">게터 와이드 팬츠(2 colors)</a></h4>
                                    <div class="rating rating-shop mb-15">
                                        <ul>
                                            <li><span><i class="fas fa-star"></i></span></li>
                                            <li><span><i class="fas fa-star"></i></span></li>
                                            <li><span><i class="fas fa-star"></i></span></li>
                                            <li><span><i class="fas fa-star"></i></span></li>
                                            <li><span><i class="fal fa-star"></i></span></li>
                                        </ul>
                                    </div>
                                    <div class="product__price-2 mb-25">
                                        <span>$96.00</span>
                                        <span class="old-price">$96.00</span>
                                    </div>
                                    <div class="product__modal-des mb-30">
                                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                                    </div>
                                    <div class="product__modal-form mb-30">
                                        <form action="#">
                                            <div class="product__modal-input size mb-20">
                                                <label>Size <i class="fas fa-star-of-life"></i></label>
                                                <select>
                                                    <option>- 선택하세요 -</option>
                                                    <option> S</option>
                                                    <option> M</option>
                                                    <option> L</option>
                                                    <option> XL</option>
                                                    <option> XXL</option>
                                                </select>
                                            </div>
                                            <div class="product__modal-input color mb-20">
                                                <label>Color <i class="fas fa-star-of-life"></i></label>
                                                <select>
                                                    <option>- 선택하세요 -</option>
                                                    <option> Black</option>
                                                    <option> Yellow</option>
                                                    <option> Blue</option>
                                                    <option> White</option>
                                                    <option> Ocean Blue</option>
                                                </select>
                                            </div>
                                            <div class="pro-quan-area d-sm-flex align-items-center">
                                                <div class="product-quantity-title">
                                                    <label>수량</label>
                                                </div>
                                                <div class="product-quantity mr-20 mb-20">
                                                    <div class="cart-plus-minus"><input type="text" value="1" /></div>
                                                </div>
                                                <div class="pro-cart-btn">
                                                    <a href="#" class="add-cart-btn mb-20">+ Add to Cart</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="product__tag mb-25">
                                        <span>카테고리:</span>
                                        <span><a href="#">회색,</a></span>
                                        <span><a href="#">남,</a></span>
                                        <span><a href="#">봄/가을,</a></span>                                    
                                        <span><a href="#">신상품,</a></span>
                                        <span><a href="#">세일</a></span>
                                    </div>
                                    <div class="product__share">
                                        <span>Share :</span>
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop__bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="product__details-tab">
                                    <div class="product__details-tab-nav text-center mb-45">
                                        <nav>
                                            <div class="nav nav-tabs justify-content-start justify-content-sm-center" id="pro-details" role="tablist">
                                                <a class="nav-item nav-link active" id="des-tab" data-toggle="tab" href="#des" role="tab" aria-controls="des" aria-selected="true">제품 정보</a>
                                                <a class="nav-item nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="false">사이즈</a>
                                                <a class="nav-item nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">리뷰 (4)</a>
                                            </div>
                                        </nav>
                                    </div>
                                    <div class="tab-content" id="pro-detailsContent">
                                        <div class="tab-pane fade show active" id="des" role="tabpanel">
                                            <div class="product__details-des">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when anunknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                                                
                                                <div class="product__details-des-list mb-20">
                                                    <ul>
                                                        <li><span>Claritas est etiam processus dynamicus.</span></li>
                                                        <li><span>Qui sequitur mutationem consuetudium lectorum.</span></li>
                                                        <li><span>Claritas est etiam processus dynamicus.</span></li>
                                                        <li><span>Qui sequitur mutationem consuetudium lectorum.</span></li>
                                                        <li><span>Claritas est etiam processus dynamicus.</span></li>
                                                        <li><span>Qui sequitur mutationem consuetudium lectorum.</span></li>
                                                    </ul>
                                                </div>
                                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release.</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="add" role="tabpanel">
                                            <div class="product__details-add">
                                                <ul>
                                                    <li><span>길이</span></li>
                                                    <li><span>62 × 56 × 12 cm</span></li>
                                                    <li><span>Size</span></li>
                                                    <li><span>M, L, XL, XXL</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="review" role="tabpanel">
                                            <div class="product__details-review">
                                                <div class="postbox__comments">
                                                    <div class="postbox__comment-title mb-30">
                                                        <h3>Reviews (32)</h3>
                                                    </div>
                                                    <div class="latest-comments mb-30">
                                                        <ul>
                                                            <li>
                                                                <div class="comments-box">
                                                                    <div class="comments-avatar">
                                                                        <img src="assets/img/blog/comments/avater-1.png" alt="">
                                                                    </div>
                                                                    <div class="comments-text">
                                                                        <div class="avatar-name">
                                                                            <h5>Siarhei Dzenisenka</h5>
                                                                            <span> - 3 months ago </span>
                                                                            <a class="reply" href="#">Leave Reply</a>
                                                                        </div>
                                                                        <div class="user-rating">
                                                                            <ul>
                                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for <span>“lorem ipsum”</span> will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="children">
                                                                <div class="comments-box">
                                                                    <div class="comments-avatar">
                                                                        <img src="assets/img/blog/comments/avater-2.png" alt="">
                                                                    </div>
                                                                    <div class="comments-text">
                                                                        <div class="avatar-name">
                                                                            <h5>Julias Roy</h5>
                                                                            <span> - 6 months ago </span>
                                                                            <a class="reply" href="#">Leave Reply</a>
                                                                        </div>
                                                                        <div class="user-rating">
                                                                            <ul>
                                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for <span>“lorem ipsum”</span> will uncover many web sites still in their infancy. </p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="comments-box">
                                                                    <div class="comments-avatar">
                                                                        <img src="assets/img/blog/comments/avater-3.png" alt="">       
                                                                    </div>
                                                                    <div class="comments-text">
                                                                        <div class="avatar-name">
                                                                            <h5>Arista Williamson</h5>
                                                                            <span> - 6 months ago </span>
                                                                            <a class="reply" href="#">Leave Reply</a>
                                                                        </div>
                                                                        <div class="user-rating">
                                                                            <ul>
                                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                            </ul>
                                                                        </div>
                                                                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for <span>“lorem ipsum”</span> will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="post-comments-form mb-100">
                                                    <div class="post-comments-title mb-30">
                                                        <h3>Your Review</h3>
                                                        <div class="post-rating">
                                                            <span>Your Rating :</span>
                                                            <ul>
                                                                <li>
                                                                    <a href="#">
                                                                        <i class="fal fa-star"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <i class="fal fa-star"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <i class="fal fa-star"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <i class="fal fa-star"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">
                                                                        <i class="fal fa-star"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <form id="contacts-form" class="conatct-post-form" action="#">
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <div class="contact-icon p-relative contacts-message">
                                                                    <textarea name="comments" id="comments" cols="30" rows="10"
                                                                        placeholder="Comments"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12">
                                                                <button class="os-btn os-btn-black" type="submit">Post comment</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- shop details area end -->

            <!-- shop modal start -->
			<!-- Modal -->
			<div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered product-modal" role="document">
                    <div class="modal-content">
                        <div class="product__modal-wrapper p-relative">
                            <div class="product__modal-close p-absolute">
                                <button   data-dismiss="modal"><i class="fal fa-times"></i></button>
                            </div>
                            <div class="product__modal-inner">
                                <div class="row">
                                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
                                        <div class="product__modal-box">
                                            <div class="tab-content mb-20" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                    <div class="product__modal-img w-img">
                                                        <img src="assets/img/shop/product/quick-view/quick-big-1.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                                    <div class="product__modal-img w-img">
                                                        <img src="assets/img/shop/product/quick-view/quick-big-2.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                                    <div class="product__modal-img w-img">
                                                        <img src="assets/img/shop/product/quick-view/quick-big-3.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <nav>
                                                <div class="nav nav-tabs justify-content-between" id="nav-tab" role="tablist">
                                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                                                    <div class="product__nav-img w-img">
                                                        <img src="assets/img/shop/product/quick-view/quick-sm-1.jpg" alt="">
                                                    </div>
                                                    </a>
                                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                                                    <div class="product__nav-img w-img">
                                                        <img src="assets/img/shop/product/quick-view/quick-sm-2.jpg" alt="">
                                                    </div>
                                                    </a>
                                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
                                                    <div class="product__nav-img w-img">
                                                        <img src="assets/img/shop/product/quick-view/quick-sm-3.jpg" alt="">
                                                    </div>
                                                    </a>
                                                </div>
                                                </nav>
                                        </div>
                                    </div>
                                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12">
                                        <div class="product__modal-content">
                                            <h4><a href="product-details.html">Wooden container Bowl</a></h4>
                                            <div class="rating rating-shop mb-15">
                                                <ul>
                                                    <li><span><i class="fas fa-star"></i></span></li>
                                                    <li><span><i class="fas fa-star"></i></span></li>
                                                    <li><span><i class="fas fa-star"></i></span></li>
                                                    <li><span><i class="fas fa-star"></i></span></li>
                                                    <li><span><i class="fal fa-star"></i></span></li>
                                                </ul>
                                                <span class="rating-no ml-10">
                                                    3 rating(s)
                                                </span>
                                            </div>
                                            <div class="product__price-2 mb-25">
                                                <span>$96.00</span>
                                                <span class="old-price">$96.00</span>
                                            </div>
                                            <div class="product__modal-des mb-30">
                                                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                                            </div>
                                            <div class="product__modal-form">
                                                <form action="#">
                                                    <div class="product__modal-input size mb-20">
                                                        <label>Size <i class="fas fa-star-of-life"></i></label>
                                                        <select>
                                                            <option>- Please select -</option>
                                                            <option> S</option>
                                                            <option> M</option>
                                                            <option> L</option>
                                                            <option> XL</option>
                                                            <option> XXL</option>
                                                        </select>
                                                    </div>
                                                    <div class="product__modal-input color mb-20">
                                                        <label>Color <i class="fas fa-star-of-life"></i></label>
                                                        <select>
                                                            <option>- Please select -</option>
                                                            <option> Black</option>
                                                            <option> Yellow</option>
                                                            <option> Blue</option>
                                                            <option> White</option>
                                                            <option> Ocean Blue</option>
                                                        </select>
                                                    </div>
                                                    <div class="pro-quan-area d-lg-flex align-items-center">
                                                        <div class="product-quantity-title">
                                                            <label>수량</label>
                                                        </div>
                                                        <div class="product-quantity">
                                                            <div class="cart-plus-minus"><input type="text" value="1" /></div>
                                                        </div>
                                                        <div class="pro-cart-btn ml-20">
                                                            <a href="#" class="add-cart-btn mr-10">+ Add to Cart</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- shop modal end -->
        </main>

        <!-- footer area start -->
        <section class="footer__area footer-bg">
            <div class="footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7">
                            <div class="footer__copyright">
                                <p>Copyright © <a href="index.html">Outstock</a> all rights reserved. Powered by <a href="index.html">Theme_pure</a></p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5">
                            <div class="footer__social f-right">
                                <ul>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer area end -->

		<!-- JS here -->
        <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendor/waypoints.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/metisMenu.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/jquery.fancybox.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/jquery-ui-slider-range.js"></script>
        <script src="assets/js/ajax-form.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html> 