<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jlook.infra.codegroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.jlook.infra.codegroup.CodeGroupDto"></resultMap>

   <select id="selectList" resultMap="resultMapObj">
        select
        a.delNY
     	,a.seq
		, a.name
		,a.modDatetime
		, a.regDatetime
		, (select count(*) from code aa where aa.codeGroup_seq=a.seq) as xseqCount
		
		
		from codeGroup a
	   WHERE 1=1
	  
	        <if test="shDelNy != null and shDelNy.equals('')">AND a.delNy = #{shDelNy}</if>
	     
	     <!--
			<choose>
				<when test="shOptionDate == 1">AND a.regDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	-->
	    	 <choose>
	         	 <when test="shOption == 1">AND a.seq = #{shValue}</when>
	            <when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
	       	 </choose>
    </select>



    
    <select id="selectOne" resultMap="resultMapObj">
		select
			seq
			,name
			,memo
			,delNy
			,regDatetime
			,modDatetime
		from codeGroup 
		where 1=1
			AND seq = #{seq}
	</select>
	
	<insert id="insert">
		insert into codeGroup (
		name
		,memo
		,regDatetime
		,delNy
		) values (
		#{name}
		,#{memo}
		,#{regDatetime}
		,#{delNy}
		)
	</insert>
	
	<update id="update">
		update codeGroup
		set
		name=#{name} 
		, memo=#{memo}
    		where 1=1
    		and seq=#{seq}
	</update>
	
	<update id="uelete">
		update codeGroup
		set
		delNy=0
    		where 1=1
    		and seq=#{seq}
    		
		
	</update>
	
	<delete id="delete">
		delete from codeGroup
		where 1=1
			and seq=#{seq}
	</delete>
	
</mapper>