<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jlook.infra.codegroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.jlook.infra.codegroup.CodeGroupDto"></resultMap>

   <select id="selectList" resultMap="resultMapObj">
        select
     	a.codeGroupSeq
		, a.codeGroupName
        , a.codeGroupDelNy
		, a.codeGroupModDate
		, a.codeGroupRegDate
		, (select count(*) from code aa where aa.codeGroupSeqF=a.codeGroupSeq) as xseqCount
		
		
		from codeGroup a
	   WHERE 1=1
	  
	        <if test="shDelNy != null and shDelNy.equals('')">AND a.codeGroupDelNy = #{shDelNy}</if>
	     
	     <!--
			<choose>
				<when test="shOptionDate == 1">AND a.regDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	-->
	    	 <choose>
	         	 <when test="shOption == 1">AND a.codeGroupSeq = #{shValue}</when>
	            <when test="shOption == 2">AND a.codeGroupName LIKE CONCAT('%',#{shValue},'%')</when>
	       	 </choose>
    </select>



    
    <select id="selectOne" resultMap="resultMapObj">
		select
			codeGroupSeq
			,codeGroupName
			,codeGroupMemo
			,codeGroupDelNy
			,codeGroupRegDate
			,codeGroupModDate
		from codeGroup 
		where 1=1
			AND codeGroupSeq = #{codeGroupSeq}
	</select>
	
	<insert id="insert">
		insert into codeGroup (
		codeGroupName
		,codeGroupMemo
		,codeGroupRegDate
		,codeGroupModDate
		,codeGroupDelNy
		) values (
		#{codeGroupName}
		,#{codeGroupMemo}
		,now()
		,now()
		,0
		)
	</insert>
	
	<update id="update">
		update codeGroup
		set
		codeGroupName=#{codeGroupName} 
		,codeGroupMemo=#{codeGroupMemo}
		,codeGroupModDate=now()
		,codeGroupDelNy=0
    		where 1=1
    		and codeGroupSeq=#{codeGroupSeq}
	</update>
	
	<update id="uelete">
		update codeGroup
		set
		codeGroupDelNy=1
    		where 1=1
    		and codeGroupSeq=#{codeGroupSeq}
    		
	</update>
	
	<delete id="delete">
		delete from codeGroup
		where 1=1
			and codeGroupSeq=#{codeGroupSeq}
	</delete>
	
	<select id="selectListWithoutPaging" resultMap="resultMapObj">
		SELECT
			a.codeGroupSeq
			, a.codeGroupName
		FROM codeGroup a
		WHERE 1=1
			AND codeGroupDelNy = 0
		ORDER BY a.codeGroupSeq DESC
	</select>
	
</mapper>