<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jlook.infra.member.MemberDao">

	<resultMap id="resultMapObj" type="com.jlook.infra.member.MemberDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj"> <!-- 애매 -->

<!--         select-->
<!--             a.seq-->
<!--             ,a.memberName-->
<!--             ,a.memberId-->
<!--             ,a.memberPwd-->
<!--         	 ,a.memberEmail-->
<!--         	 ,a.genderCd-->
<!--         	 ,a.birthDay-->
<!--         	 ,a.phoneNumber-->
<!--         	 ,a.delNy-->
<!--         	 ,a.regDatetime-->
<!--         	 ,a.modDatetime-->
<!--         	 ,b.seq as codeSeq-->
<!--         	 ,b.name as codeName-->
<!--         from -->
<!--             member a-->
             
<!--              left join  code b-->
         
<!--         on  b.seq=a.genderCd-->

         select
             seq
             ,memberName
             ,memberId
             ,memberPwd
         	 ,memberEmail
         	 ,genderCd
         	 ,birthDay
         	 ,phoneNumber
         	 ,delNy
         	 ,regDatetime
         	 ,modDatetime
         from 
             member 
	   WHERE 1=1
	        <if test="shDelNy != null and shDelNy.equals('')">AND delNy = #{shDelNy}</if>
	     
	     
<!--			<choose>-->
<!--				<when test="shOptionDate == 1">AND a.regDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>-->
<!--				<when test="shOptionDate == 2">AND a.modDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>-->
<!--			</choose>-->
	
	    	 <choose>
	         	 <when test="shOption == 1">AND seq = #{shValue}</when>
	            <when test="shOption == 2">AND memberName LIKE CONCAT('%',#{shValue},'%')</when>
	       	 </choose>
	       	 
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			seq
            ,memberName
            ,memberId
            ,memberPwd
         	,memberEmail
         	,genderCd
         	,birthDay
         	,phoneNumber
         	,delNy
         	,regDatetime
         	,modDatetime
		from member 
		where 1 = 1
			AND seq = #{seq}
	</select>
	
	<insert id="insert">
		insert into member (
		 	memberName
            ,memberId
            ,memberPwd
         	,memberEmail
         	,genderCd
         	,birthDay
         	,phoneNumber
		) values (
		#{memberName}
		,#{memberId}
		,#{memberPwd}
		,#{memberEmail}
		,#{genderCd}
		,#{birthDay}
		,#{phoneNumber}
		)
	</insert>
	
	<update id="update">
		update member
		set
			memberName = #{memberName}
            ,memberId = #{memberId}
            ,memberPwd = #{memberPwd}
         	,memberEmail = #{memberEmail}
         	,genderCd = #{genderCd}
         	,birthDay = #{birthDay}
         	,phoneNumber = #{phoneNumber}
    		where 1=1
    		and seq = #{seq}
	</update>
	
	<update id="uelete">
		update member
		set
		delNy = 1
    		where 1=1
    		and seq = #{seq}
	</update>
	
	<delete id="delete">
		delete from member
		where 1 = 1
			and seq = #{seq}
	</delete>
	

</mapper>