<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jlook.infra.member.MemberDao">

	<resultMap id="resultMapObj" type="com.jlook.infra.member.MemberDto"></resultMap>

	<!--<select id="selectList" resultMap="resultMapObj">  애매 

         select
             memberSeq
             ,memberName
             ,memberId
             ,memberPwd
         	 ,memberEmail
         	 ,genderCd
         	 ,birthDay
         	 ,phoneNumber
         	 ,memberDelNy
         	 ,memberRegDate
         	 ,memberModDate
         from 
             member 
	   WHERE 1=1
	   
	        <if test="shDelNy != null and shDelNy.equals('')">AND memberDelNy = #{shDelNy}</if>
	     
	     
			<choose>
				<when test="shOptionDate == 1">AND a.regDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	
	    	 <choose>
	         	 <when test="shOption == 1">AND memberSeq = #{shValue}</when>
	            <when test="shOption == 2">AND memberName LIKE CONCAT('%',#{shValue},'%')</when>
	       	 </choose>
	       	 
	</select>-->
	
	<sql id ="selectCommon">
		 from member  
	             
	   WHERE 1=1
	  
	      <if test="shDelNy != null and shDelNy.equals('')">AND memberDelNy = #{shDelNy}</if>
	     
	     
			<!--<choose>
				<when test="shOptionDate == 1">AND a.codeRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.codeModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>-->
	
	    	 <choose>
	         	 <when test="shOption == 1">AND memberSeq = #{shValue}</when>
	            <when test="shOption == 2">AND memberName LIKE CONCAT('%',#{shValue},'%')</when>
	       	 </choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj"> <!-- 애매 -->

         select
             memberSeq
             ,memberName
             ,memberId
             ,memberPwd
         	 ,memberEmail
         	 ,genderCd
         	 ,birthDay
         	 ,phoneNumber
         	 ,memberDelNy
         	 ,memberRegDate
         	 ,memberModDate
         	  <include refid="selectCommon" />
         	 limit #{rowNumToShow} offset #{startRnumForMysql}
     </select>
     
     <select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			memberSeq
            ,memberName
            ,memberId
            ,memberPwd
         	,memberEmail
         	,genderCd
         	,birthDay
         	,phoneNumber
         	,memberDelNy
         	,memberRegDate
         	,memberModDate
		from member 
		where 1 = 1
			AND memberSeq = #{memberSeq}
	</select>
	
	<insert id="insert">
		insert into member (
		 	memberName
            ,memberId
            ,memberPwd
         	,memberEmail
         	,genderCd
         	,birthDay
         	,phoneNumber
		) values (
		#{memberName}
		,#{memberId}
		,#{memberPwd}
		,#{memberEmail}
		,#{genderCd}
		,#{birthDay}
		,#{phoneNumber}
		)
	</insert>
	
	<update id="update">
		update member
		set
			memberName = #{memberName}
            ,memberId = #{memberId}
            ,memberPwd = #{memberPwd}
         	,memberEmail = #{memberEmail}
         	,genderCd = #{genderCd}
         	,birthDay = #{birthDay}
         	,phoneNumber = #{phoneNumber}
    		where 1=1
    		and memberSeq = #{memberSeq}
	</update>
	
	<update id="uelete">
		update member
		set
		memberDelNy = 1
    		where 1=1
    		and memberSeq = #{memberSeq}
	</update>
	
	<delete id="delete">
		delete from member
		where 1 = 1
			and memberSeq = #{memberSeq}
	</delete>
	
	<!-- user -->
	<select id="selectLogin" resultMap="resultMapObj"> <!-- 애매 -->
         select
             memberId
             ,memberPwd
        from
        	member
        	where 1=1
        	and memberId = #{memberId}
     </select>
	

</mapper>