<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jlook.infra.product.ProductDao">

	<resultMap id="resultMapObj" type="com.jlook.infra.product.ProductDto"></resultMap>

	<!--<select id="selectList" resultMap="resultMapObj">  애매 

         select
            a.codeSeq
             ,a.codeName
             ,b.productSeq
             ,b.productName
             ,b.productPrice
             ,b.productSalePrice
         	 ,b.productHotCd
         	 ,b.productGenderCd
         	 ,b.productSeasonCd
         	 ,b.productColorCd
         	 ,b.productSizeCd
         	 ,b.productDelNy
         	 ,b.productRegDate
         	 ,b.productModDate
         from 
             code a
             
         left join  product b
         
         on  a.codeSeq=b.productGenderCd

	   WHERE 1=1
	  
	        <if test="shDelNy != null and shDelNy.equals('')">AND b.productDelNy = #{shDelNy}</if>
	     
	     
			<choose>
				<when test="shOptionDate == 1">AND a.regDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	
	    	 <choose>
	         	 <when test="shOption == 1">AND b.productSeq = #{shValue}</when>
	            <when test="shOption == 2">AND b.productName LIKE CONCAT('%',#{shValue},'%')</when>
	       	 </choose>
	       	 
			ORDER BY b.productSeq ASC
	</select>-->
	
	<sql id ="selectCommon">
		 from product  
	             
	   WHERE 1=1
	  
	      <if test="shDelNy != null and shDelNy.equals('')">AND productDelNy = #{shDelNy}</if>
	     
	     
			<!--<choose>
				<when test="shOptionDate == 1">AND a.codeRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.codeModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>-->
	
	    	 <choose>
	         	 <when test="shOption == 1">AND productSeq = #{shValue}</when>
	            <when test="shOption == 2">AND productName LIKE CONCAT('%',#{shValue},'%')</when>
	       	 </choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj"> <!-- 애매 -->

         select
             productSeq
             ,productName
             ,productPrice
             ,productSalePrice
         	 ,productHotCd
         	 ,productGenderCd
         	 ,productSeasonCd
         	 ,productColorCd
         	 ,productSizeCd
         	 ,productDelNy
         	 ,productRegDate
         	 ,productModDate
         	  <include refid="selectCommon" />
         	 limit #{rowNumToShow} offset #{startRnumForMysql}
     </select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			 productSeq
             ,productName
             ,productPrice
             ,productSalePrice
         	 ,productHotCd
         	 ,productGenderCd
         	 ,productSeasonCd
         	 ,productColorCd
         	 ,productSizeCd
         	 ,productDelNy
         	 ,productRegDate
         	 ,productModDate
		from product 
		where 1 = 1
			AND productSeq = #{productSeq}
	</select>
	
	<insert id="insert">
		insert into product (
		 	 productName
             ,productPrice
             ,productSalePrice
         	 ,productHotCd
         	 ,productGenderCd
         	 ,productSeasonCd
         	 ,productColorCd
         	 ,productSizeCd
		) values (
		#{productName}
		,#{productPrice}
		,#{productSalePrice}
		,#{productHotCd}
		,#{productGenderCd}
		,#{productSeasonCd}
		,#{productColorCd}
		,#{productSizeCd}
		)
	</insert>
	
	<update id="update">
		update product
		set
			productName = #{productName}
            ,productPrice = #{productPrice}
            ,productSalePrice = #{productSalePrice}
         	,productHotCd = #{productHotCd}
         	,productGenderCd = #{productGenderCd}
         	,productColorCd = #{productColorCd}
         	,productSizeCd = #{productSizeCd}
    		where 1=1
    		and productSeq = #{productSeq}
	</update>
	
	<update id="uelete">
		update product
		set
		productDelNy = 1
    		where 1=1
    		and productSeq = #{productSeq}
	</update>
	
	<delete id="delete">
		delete from product
		where 1 = 1
			and productSeq = #{productSeq}
	</delete>
	  
</mapper>