<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jlook.infra.product.ProductDao">

	<resultMap id="resultMapObj" type="com.jlook.infra.product.ProductDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj"> <!-- 애매 -->

         select
            a.seq as code_seq
             ,a.name as codeName
             ,b.seq
             ,b.productName
             ,b.productPrice
             ,b.productSalePrice
         	 ,b.productImg
         	 ,b.productHotCd
         	 ,b.productGenderCd
         	 ,b.productSeasonCd
         	 ,b.productColorCd
         	 ,b.productSizeCd
         	 ,b.delivaryStatusCd
         	 ,b.delNy
         	 ,b.regDatetime
         	 ,b.modDatetime
         from 
             code a
             
         left join  product b
         
         on  a.seq=b.productGenderCd

	   WHERE 1=1
	  
	        <if test="shDelNy != null and shDelNy.equals('')">AND a.delNy = #{shDelNy}</if>
	     
	     
<!--			<choose>-->
<!--				<when test="shOptionDate == 1">AND a.regDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>-->
<!--				<when test="shOptionDate == 2">AND a.modDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>-->
<!--			</choose>-->
	
	    	 <choose>
	         	 <when test="shOption == 1">AND a.seq = #{shValue}</when>
	            <when test="shOption == 2">AND a.name LIKE CONCAT('%',#{shValue},'%')</when>
	       	 </choose>
	       	 
			ORDER BY b.seq ASC
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			 seq
             ,productName
             ,productPrice
             ,productSalePrice
         	 ,productImg
         	 ,productHotCd
         	 ,productGenderCd
         	 ,productSeasonCd
         	 ,productColorCd
         	 ,productSizeCd
         	 ,delivaryStatusCd
         	 ,delNy
         	 ,regDatetime
         	 ,modDatetime
		from product 
		where 1 = 1
			AND seq = #{seq}
	</select>
	
	<insert id="insert">
		insert into product (
		 	 productName
             ,productPrice
             ,productSalePrice
         	 ,productImg
         	 ,productHotCd
         	 ,productGenderCd
         	 ,productSeasonCd
         	 ,productColorCd
         	 ,productSizeCd
         	 ,delivaryStatusCd
		) values (
		#{productName}
		,#{productPrice}
		,#{productSalePrice}
		,#{productImg}
		,#{productHotCd}
		,#{productGenderCd}
		,#{productSeasonCd}
		,#{productColorCd}
		,#{productSizeCd}
		,#{delivaryStatusCd}
		)
	</insert>
	
	<update id="update">
		update product
		set
			productName = #{productName}
            ,productPrice = #{productPrice}
            ,productSalePrice = #{productSalePrice}
         	,productImg = #{productImg}
         	,productHotCd = #{productHotCd}
         	,productGenderCd = #{productGenderCd}
         	,productColorCd = #{productColorCd}
         	,productSizeCd = #{productSizeCd}
         	,delivaryStatusCd = #{delivaryStatusCd}
    		where 1=1
    		and seq = #{seq}
	</update>
	
	<update id="uelete">
		update product
		set
		delNy = 1
    		where 1=1
    		and seq = #{seq}
	</update>
	
	<delete id="delete">
		delete from product
		where 1 = 1
			and seq = #{seq}
	</delete>
	  
</mapper>